<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="GravityTGG.GravityTGGPackage" genModel="model/GravityTGG.genmodel" uri="platform:/plugin/GravityTGG/model/GravityTGG.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="GravityTGG.Rules.RulesPackage" genModel="model/GravityTGG.genmodel" uri="platform:/plugin/GravityTGG/model/GravityTGG.ecore#//Rules"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="GravityTGG.Postprocessing.PostprocessingPackage" genModel="model/GravityTGG.genmodel" uri="platform:/plugin/GravityTGG/model/GravityTGG.ecore#//Postprocessing"/>
  </extension>
</plugin>
